@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext");
a {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

a:hover {
  color: #ffbc09 !important;
}

body {
  overflow-x: hidden;
}

.alertarea {
  position: relative;
  z-index: 999;
}

.alertarea .colordanger {
  background-color: #f6475f;
  margin-bottom: 0 !important;
}

.alertarea .alert-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alertarea .alert-content span {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.alertarea .alert-content a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.alertarea .alert-content i {
  color: #faa3af;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 5px;
}

.alertarea .alert-content i:hover {
  color: #fff;
}

.header-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-wrapper .top-header {
  padding: 10px 0;
  background-color: #343a40;
}

.header-wrapper .top-header .btn {
  color: white;
  font-size: 14px;
}

.header-wrapper .top-header .container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.header-wrapper .top-header .container .contact-info {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .top-header .container .contact-info li {
  margin-right: 20px;
}

.header-wrapper .top-header .container .contact-info li i {
  width: 0 !important;
  margin-right: 18px !important;
}

.header-wrapper .top-header .container .contact-info li a {
  text-decoration: none;
  color: white !important;
  margin-top: 5px;
  font-size: 16px;
}

.header-wrapper .top-header .container .contact-info li a:hover {
  color: #ffbc09 !important;
}

.header-wrapper .top-header .container .icon {
  float: right;
}

.header-wrapper .top-header .container .icon .social-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  margin-right: 23px;
}

.header-wrapper .top-header .container .icon .social-icon li {
  display: inline-block;
  padding: 2px 3px;
  margin-right: 10px;
}

.header-wrapper .top-header .container .icon .social-icon li a {
  vertical-align: middle;
  font-size: 16px;
  height: 30px;
  width: 32px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}

.header-wrapper .top-header .container .icon .social-icon li a:hover {
  color: #ffbc09;
}

.header-wrapper .navbar {
  background-color: white;
  margin: 20px 0px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.header-wrapper .navbar .navbar-brand {
  padding-top: 0px;
}

.header-wrapper .navbar .navbar-nav {
  margin-left: 32% !important;
}

.header-wrapper .navbar .navbar-nav .nav-item {
  margin-left: 35px;
  font-size: 14px;
}

.header-wrapper .navbar .navbar-nav .nav-item .nav-link {
  color: #292b2c;
  position: relative;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 18px 0px;
}

.header-wrapper .navbar .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.header-wrapper .navbar .navbar-nav .dropdown-menu {
  border-radius: 0px;
  left: -50%;
  top: 95%;
  padding: 10px 15px;
}

.header-wrapper .navbar .navbar-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .navbar .navbar-text a {
  color: white;
}

.dropdown-toggle::after {
  content: initial;
}

.navbar {
  padding: 0 !important;
  margin: 0 !important;
}

.navbar .navbar-img {
  margin-left: 30px !important;
}

@media only screen and (max-width: 992px) {
  header .navbar-toggler {
    color: white;
    cursor: pointer;
  }
}

section {
  background-color: #f7f7f7;
  padding: 100px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  display: block;
}

section .feature-body {
  -webkit-box-shadow: 5px 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px 5px lightgray;
  padding: 20px;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .feature-body:hover {
  margin-top: -10px !important;
}

section .img-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .img-item .img-img1 {
  position: relative;
  background: #f6475f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section .img-item .img-img1 .round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .img-item .img-img1 img {
  padding-top: 18px;
  width: 55px;
}

section .img-item .img-img2 {
  position: relative;
  background: #ffbc09;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section .img-item .img-img2 .round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .img-item .img-img2 img {
  padding-top: 23px;
  width: 55px;
}

section .img-item .img-img3 {
  position: relative;
  background: lightgreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section .img-item .img-img3 .round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .img-item .img-img3 img {
  padding-top: 25px;
  width: 55px;
}

section .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section .bg-gray {
  background-color: #f7f7f7;
}

section .text {
  text-align: center;
}

section p {
  color: #888888;
  font-family: "Rubik", sans-serif;
}

section h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

#catagories .text-catagories {
  text-align: center;
}

#catagories .text-catagories h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

#catagories .text-catagories p {
  color: #888888;
  font-family: "Rubik", sans-serif;
}

#catagories .catagories {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
}

#catagories .catagories .heartbeaticon {
  height: 130px;
  width: 95% !important;
  background-color: #38ddf7;
  margin-right: 20px;
  border-radius: 6px;
}

#catagories .catagories .heartbeaticon .fa-heartbeat {
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  font-size: 30px;
}

#catagories .catagories .heartbeaticon h4 {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

#catagories .catagories .codeicon {
  height: 130px;
  width: 95% !important;
  background-color: #f89035;
  margin-right: 20px;
  border-radius: 6px;
}

#catagories .catagories .codeicon .fa-code {
  color: white;
  margin-top: 30px;
  font-size: 30px;
}

#catagories .catagories .codeicon h4 {
  color: white;
  margin-top: 10px;
  font-size: 18px;
}

#catagories .catagories .businessicon {
  height: 130px;
  width: 95% !important;
  background-color: lightgreen;
  margin-right: 20px;
  border-radius: 6px;
}

#catagories .catagories .businessicon .fa-chart-bar {
  color: white;
  margin-top: 30px;
  font-size: 30px;
}

#catagories .catagories .businessicon h4 {
  color: white;
  margin-top: 10px;
  font-size: 18px;
}

#catagories .catagories .globeicon {
  height: 130px;
  width: 95% !important;
  background-color: #f6475f;
  margin-right: 20px;
  border-radius: 6px;
}

#catagories .catagories .globeicon .fa-globe {
  color: white;
  margin-top: 30px;
  font-size: 30px;
}

#catagories .catagories .globeicon h4 {
  color: white;
  margin-top: 10px;
  font-size: 18px;
}

#catagories .catagories .bookicon {
  height: 130px;
  width: 95% !important;
  background-color: #ffbc09;
  margin-right: 20px;
  border-radius: 6px;
}

#catagories .catagories .bookicon .fa-book {
  color: white;
  margin-top: 30px;
  font-size: 30px;
}

#catagories .catagories .bookicon h4 {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

#catagories .catagories .cameraicon {
  height: 130px;
  width: 95% !important;
  background-color: #f94fa4;
  margin-right: 20px;
  border-radius: 6px;
}

#catagories .catagories .cameraicon .fa-camera {
  color: white;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 30px;
}

#catagories .catagories .cameraicon h4 {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.about-video {
  background-color: #f5efef;
}

.about-video .about {
  margin-top: 28px;
  width: 107%;
  height: 82%;
  position: absolute;
  border-radius: 0 200px 200px 0;
  padding: 8%;
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.about-video .about .course-counter {
  list-style-type: none;
}

.about-video .about .course-counter .danger {
  color: #f6475f;
  font-size: 40px;
  font-weight: 600;
  list-style-type: none;
}

.about-video .about .course-counter h6 {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: #292b2c;
  margin-right: 20px;
}

.about-video .about .course-counter .green {
  color: #b3d369;
  font-size: 40px;
  font-weight: 600;
  list-style-type: none;
}

.about-video .video {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-video .video .iconca {
  position: absolute !important;
  top: 190px !important;
  left: 319px !important;
  color: #ffbc09 !important;
}

.about-video .video .iconca .video-popup {
  position: absolute;
  right: 0;
  display: table;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.about-video .video .iconca .ripple {
  background-color: #ffffff;
  border-radius: 100%;
  color: #ffbc09;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  line-height: 50px;
  font-size: 18px !important;
  vertical-align: middle;
  margin-left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
}

.about-video .video .iconca .ripple::before {
  -webkit-animation: ripple 1.8s infinite;
          animation: ripple 1.8s infinite;
  background-color: #ffffff;
  border-radius: 100%;
  margin: -20px;
  bottom: 0px;
  content: "";
  display: block;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#courses .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#courses .card img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}

#courses .card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#courses .card .card-body {
  position: relative;
  padding: 15px;
}

#courses .card .card-body h4 a {
  text-decoration: none;
  color: #292b2c;
  font-weight: 600 !important;
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.2;
}

#courses .card .card-body h4 a:hover {
  color: #ffbc09;
}

#courses .card .card-body .courses-icon {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

#courses .card .card-body .courses-icon .user-like {
  float: right;
  width: auto;
}

#courses .card .card-body .courses-icon .user-like li {
  float: left;
  padding-right: 15px;
  font-size: 15px;
  list-style: none;
}

#courses .card .card-body .courses-icon .user-like li i {
  margin-right: 6px;
  font-size: 14px;
}

#courses .card .card-body .courses-icon .user-like li i:hover {
  color: #ffbc09;
}

#courses .card .card-body .courses-icon .user-like li a {
  color: #292b2c;
  text-decoration: none;
}

#courses .card .card-body .courses-icon .user-like li a:hover {
  color: #ffbc09;
}

#courses .card .card-body .courses-icon .stars {
  float: left;
}

#courses .card .card-body .courses-icon .stars i {
  color: #ffc600;
  font-size: 18px;
  line-height: normal;
}

#courses .card .card-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 18px 0px 18px;
}

#courses .card .card-footer .teacher {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

#courses .card .card-footer .teacher li img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
}

#courses .card .card-footer .teacher li a {
  color: #292b2c;
  text-decoration: none;
}

#courses .card .card-footer .teacher li a:hover {
  color: #ffbc09;
}

#courses .card .price {
  float: right;
  margin-top: 15px;
  margin-bottom: 0px;
}

#courses .card .price .alert {
  padding: 5px 15px;
  display: block;
}

#courses .card .price .alert-success {
  color: #155724;
  background-color: #d4edda;
}

#courses .button {
  text-align: center;
}

#courses .button .btn {
  cursor: pointer;
}

#courses .button .btn-default {
  border-color: #ffbc09;
  background-color: #ffbc09;
  border: 2px solid #ffbc09;
  color: #ffffff !important;
  padding: 12px 30px;
}

#statics {
  padding: 100px 0;
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}

#statics .statics {
  background-color: rgba(0, 31, 63, 0.651);
  position: absolute;
  background-image: url("../img/counter_bg.jpg");
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1349px;
  height: 525px;
  -webkit-transform: translate3d(0px, -319.625px, 0px);
          transform: translate3d(0px, -319.625px, 0px);
  -webkit-transition: -webkit-transform 100ms ease 0s;
  transition: -webkit-transform 100ms ease 0s;
  transition: transform 100ms ease 0s;
  transition: transform 100ms ease 0s, -webkit-transform 100ms ease 0s;
  z-index: -1;
}

#statics .statics .item {
  padding: 250px 50px;
  color: white;
  text-align: center;
}

#statics .statics .item p {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}

#statics .statics .item span {
  font-size: 18px;
}

#events .card-event-top {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

#events .card-event-top img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#events .card-event-top img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#events .card-event-top .event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 75px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 5px;
}

#events .card-event-top .event-date h5 {
  font-size: 14px;
  margin: 0;
  padding: 5px;
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

#events .card-event-top .event-date h5 span {
  display: block;
  font-size: 24px;
  padding: 5px;
}

#events .card-event-top .event-date .event-time {
  display: block;
  padding: 5px;
  background-color: #ffbc09;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;
}

#events .card-event-top .card-event {
  padding: 15px;
}

#events .card-event-top .card-event .card-title a {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  color: #292b2c !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#events .card-event-top .card-event .card-title a:hover {
  color: #ffbc09 !important;
}

#events .card-event-top .card-event .event-icon {
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  vertical-align: middle;
}

#events .card-event-top .card-event .event-icon .user {
  margin-left: -40px;
}

#events .card-event-top .card-event .event-icon .user li {
  float: left;
  padding-right: 15px;
  font-size: 15px;
  list-style: none;
}

#events .card-event-top .card-event .event-icon .user li i {
  margin-right: -10px;
  font-size: 16px;
}

#events .card-event-top .card-event .event-icon .user li a {
  text-decoration: none !important;
  color: #ffbc09 !important;
  font-weight: 600;
}

#events .card-event-top .card-event .event-icon .map {
  margin-left: -30px;
}

#events .card-event-top .card-event .event-icon .map i {
  color: #888888;
}

#events .card-event-top .card-event .event-icon .map li {
  display: inline;
  color: #ffbc09;
  list-style: none;
  font-weight: 600;
}

#events .card-event-top p {
  margin-left: 15px;
  color: #888888;
  margin-top: 0px;
  font-size: 16px;
}

#register {
  background-image: url("../img/pattern_bg.png");
  background-position: center center;
  background-size: cover;
  background-color: #07294d;
  width: 100%;
}

#register .register-image {
  position: absolute;
  top: 3%;
  margin-left: 20%;
}

#register .register-info {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 60px 32px;
}

#register .register-info .register-heading h2 {
  color: white !important;
}

#register .register-info .register-heading .text {
  color: #ffbc09;
}

#register .register-info p {
  color: #fff;
  font-family: "Rubik", sans-serif;
}

#register .form-group {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1rem;
}

#register .form-group ::-webkit-input-placeholder {
  color: white;
}

#register .form-group :-ms-input-placeholder {
  color: white;
}

#register .form-group ::-ms-input-placeholder {
  color: white;
}

#register .form-group ::placeholder {
  color: white;
}

#register .form-group .form-control {
  background-color: transparent;
  border-color: #fff;
  height: 47px;
  padding: 10px 20px;
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 18px;
  font-weight: 500;
}

#register .form-group .form-control .select {
  color: white;
}

#register .btn-warning {
  border: 2px solid #ffbc09;
  color: #ffffff !important;
  padding: 12px 30px;
  margin-left: 10px;
}

#our-galerry {
  background-color: white !important;
  padding: 50px 0;
}

#our-galerry .galerry-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-galerry .bg_default {
  background-color: #FFBC09;
  color: #fff;
  padding: 5px 25px;
  margin-left: 20px;
}

#our-galerry .bg_default:hover {
  color: white !important;
}

#our-galerry .darken_bg {
  background-color: #eee;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  color: #292b2c;
  text-decoration: none;
  margin-left: 18px;
}

#our-galerry .darken_bg:hover {
  color: white !important;
  background-color: #ffbc09;
  border-color: #ffbc09;
}

#our-galerry .col-md-4 {
  padding-right: 0 !important;
}

#our-galerry .our-galerry-text h2 {
  color: #292b2c;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

#our-galerry .our-galerry-text p {
  color: #888888;
  margin-top: 0;
  margin-bottom: 1rem;
}

#our-galerry .galerry-button .btn {
  padding: 5px 15px;
  font-family: "Rubik", sans-serif;
}

#our-galerry .galerry-button .btn:hover {
  color: #fff;
  background-color: #ffbc09;
}

#our-galerry .galerry-button .btn:hover::before {
  left: -50px !important;
}

#our-galerry .grid {
  width: 100%;
  margin-left: 100px;
}

#our-galerry .grid:after {
  content: '';
  display: block;
  clear: both;
}

#our-galerry .element-item {
  position: relative;
  float: left;
  width: 30%;
  margin: 5px;
  padding: 10px;
  border-radius: 2px;
}

#our-galerry .element-item:hover a {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  opacity: 1;
  z-index: 999;
  position: relative;
  z-index: 999;
  top: -34px;
  left: -58%;
}

#our-galerry .element-item a {
  opacity: 0;
}

#our-galerry .element-item .circle {
  position: absolute;
  left: 42%;
  top: -20px;
  text-align: center;
}

#our-galerry .element-item .circle h5 {
  position: absolute;
  top: 70px;
  left: -10px;
  color: white;
}

#our-galerry .element-item img {
  border-radius: 10px;
}

#our-galerry .element-item::before {
  background-color: black;
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 94%;
  opacity: 0;
  height: 91%;
  -webkit-transition: all 0.5s;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 999;
  border-radius: 10px;
}

#our-galerry .element-item:hover::before {
  opacity: 0.5;
}

#our-galerry .element-item > * {
  margin: 0;
  padding: 0;
}

.bg_default {
  background-color: #ffbc09;
}

#teachers {
  width: 100%;
  height: 680px;
  overflow: hidden;
  background-image: url("../img/teacher_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#teachers .text-teachers h2 {
  color: white !important;
}

#teachers .text-teachers p {
  color: white !important;
}

#teachers .team-box .team-img {
  position: relative;
  border-radius: 10px 10px 0 0;
}

#teachers .team-box .team-img .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 255px;
  background-color: black;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#teachers .team-box .team-img .teacher-icon {
  top: 100%;
  text-align: center;
  padding: 2px 3px;
  list-style: none;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 50px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#teachers .team-box .team-img .teacher-icon li {
  display: inline;
}

#teachers .team-box .team-img .teacher-icon a {
  color: #fff;
  border-color: #fff;
  font-size: 18px;
  height: 35px;
  width: 35px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#teachers .team-box .team-img .teacher-icon a:hover {
  color: #ffbc09 !important;
}

#teachers .team-box .team_title {
  background-color: #fff;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

#teachers .team-box .team_title h5 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#teachers .team-box .team_title h5 a {
  text-decoration: none;
  color: #292b2c !important;
}

#teachers .team-box .team_title span {
  color: #888888;
  font-family: "Rubik", sans-serif;
}

#teachers .team-box:hover .team-img .cover {
  opacity: 0.5;
}

#teachers .team-box:hover .team-img .teacher-icon {
  top: 100px;
  left: 50px;
  opacity: 1;
}

#teachers .teacher-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(7, 41, 77, 0.9);
  width: 100%;
  height: 100%;
  opacity: 1.2;
}

#student {
  background-color: white;
}

#student .box1 {
  background-color: white !important;
  width: 85% !important;
  display: block !important;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 30px 30px 50px;
  margin: 5px 30px 5px 50px;
}

#student .box1 img {
  margin-left: -100px;
  border-radius: 10px;
}

#student .box-content {
  margin-top: -100px;
  margin-left: 21px;
}

#student .box-content h6 {
  font-weight: 500;
  line-height: 1;
  font-size: 18px;
  font-weight: 600;
}

#student .box-content span {
  font-style: italic;
  color: #ffbc09;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

#blog {
  padding: 10px 0 !important;
}

#blog .card-blog {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-top: 30px;
}

#blog .card-blog img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

#blog .card-blog img:hover .link-blog {
  top: 30%;
}

#blog .card-blog .link-blog {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#blog .card-blog .link-blog .share {
  background-color: #ffffff;
  border-radius: 100%;
  color: #ffbc09;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  line-height: 50px;
  font-size: 18px !important;
  vertical-align: middle;
  margin-left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
}

#blog .card-blog .link-blog .share::before {
  -webkit-animation: ripple 1.8s infinite;
  animation: ripple 1.8s infinite;
  background-color: #ffffff;
  border-radius: 100%;
  margin: -20px;
  bottom: 0px;
  content: "";
  display: block;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
}

#blog .card-body {
  position: relative;
  padding: 15px;
  background-color: white;
}

#blog .card-body h4 a {
  text-decoration: none;
  color: #292b2c;
  font-weight: 600 !important;
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

#blog .card-body h4:hover {
  color: #ffbc09;
}

#blog .card-body a {
  color: black !important;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#blog .card-body a:hover {
  color: #ffbc09;
}

#blog .card-footer {
  background-color: white;
  border-radius: 0 0 10px 10px;
}

#blog .card-footer .blog-foot {
  margin: 0;
  padding: 0;
}

#blog .card-footer .blog-foot li {
  margin-right: 15px;
}

#blog .card-footer .blog-foot li a {
  font-size: 15px;
  color: #888888;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

#blog .card-footer .blog-foot li a i {
  color: #ffbc09;
  font-size: 16px;
  margin-right: 8px;
}

#blog .card-footer .blog-foot li a:hover {
  color: #ffbc09;
}

.button {
  text-align: center;
}

.button .btn {
  cursor: pointer;
}

.button .btn-default {
  border-color: #ffbc09;
  background-color: #ffbc09;
  border: 2px solid #ffbc09;
  color: #ffffff !important;
  padding: 12px 30px;
  font-size: 16px;
}

#client .regular {
  padding-top: 15px;
  padding-bottom: 20px;
}

#client .regular .item {
  margin-right: 15px;
}

#client .regular .item img {
  margin: 0 auto;
  width: auto;
  opacity: 0.7;
  padding: 0 10px;
  max-width: 100%;
}

#traning {
  background-color: #ffbc09 !important;
  padding-bottom: 50px;
  padding-top: 50px;
}

#traning .yellow-text {
  margin-top: 10px;
  vertical-align: middle;
}

#traning .yellow-text h2 {
  background-color: #ffbc09;
  color: #fff;
}

#traning .yellow-text p {
  color: #fff !important;
}

#traning .button {
  text-align: right !important;
}

#traning .button .btn-outline-white {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 12px 30px;
  margin-top: 23px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#traning .button .btn-outline-white:hover {
  background-color: white;
  color: #ffbc09;
}

#traning .button .btn {
  cursor: pointer;
  line-height: normal;
  border-radius: 6px;
  text-align: center;
}

.footer form button {
  right: 4px;
  top: 4px;
  color: #ffbc09;
  padding: 7px 15px;
  color: #ffffff !important;
  margin-left: 186px;
  margin-top: -65px;
}

.footer form input {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.post-footer {
  padding-right: 15px;
  width: 280px;
}

.post-footer p {
  line-height: 1.1;
  margin-bottom: 10px;
}

p {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

h5 {
  color: #fff;
}

.useful-links {
  margin-left: -36px;
  line-height: 2.2;
  font-size: 15px;
}

li {
  list-style-type: none;
}

a {
  color: white;
  list-style-type: none !important;
}

.contact-info li i {
  font-size: 18px;
  vertical-align: middle;
  max-width: 30px;
  width: 100%;
  text-align: center;
  margin-right: 10px;
}

.footer-social-icon li {
  display: inline-block;
  padding: 5px 20px;
  margin-left: -36px;
}

.footer-social-icon li a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-size: 18px;
  height: 35px;
  width: 35px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */