@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext");
.alertarea {
  position: relative;
  z-index: 999;
}

.alertarea .colordanger {
  background-color: #f6475f;
  margin-bottom: 0 !important;
}

.alertarea .alert-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alertarea .alert-content span {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.alertarea .alert-content a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.alertarea .alert-content i {
  color: #faa3af;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 5px;
}

.alertarea .alert-content i:hover {
  color: #fff;
}

.header-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-wrapper .top-header {
  padding: 10px 0;
  background-color: #343a40;
}

.header-wrapper .top-header .container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.header-wrapper .top-header .container .icon {
  float: right;
}

.header-wrapper .top-header .container .icon .social-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.header-wrapper .top-header .container .icon .social-icon li {
  display: inline-block;
  padding: 2px 3px;
}

.header-wrapper .top-header .container .icon .social-icon li a {
  vertical-align: middle;
  font-size: 16px;
  height: 30px;
  width: 32px;
  line-height: 30px;
  color: #fff;
}

.dropdown-toggle::after {
  content: initial;
}

header {
  z-index: 97;
  width: 100%;
}

header.is-sticky {
  position: fixed;
}

header.is-sticky .navbar {
  margin-top: 15px;
}

.navbar {
  margin: 20px 0px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.navbar .navbar-brand {
  padding-top: 0px;
}

.navbar .navbar-nav .nav-item {
  margin-left: 35px;
  font-size: 14px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #292b2c;
  position: relative;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 25px 10px;
}

.navbar .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
}

.navbar .navbar-nav .nav-item .nav-link:hover::before {
  right: initial;
  left: 0px;
  width: 100%;
}

.navbar .navbar-nav .dropdown-menu {
  border-radius: 0px;
  left: -50%;
  top: 95%;
  padding: 10px 15px;
}

.navbar .navbar-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-text a {
  color: white;
}

@media only screen and (max-width: 992px) {
  header .navbar-toggler {
    color: white;
    cursor: pointer;
  }
}

section {
  background-color: #f7f7f7;
  padding: 100px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  display: block;
}

section .feature-body {
  -webkit-box-shadow: 5px 5px 5px 5px lightgray;
          box-shadow: 5px 5px 5px 5px lightgray;
  padding: 20px;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .feature-body:hover {
  margin-top: -10px !important;
}

section .img-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .img-item .img-img1 {
  position: relative;
  background: #f6475f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section .img-item .img-img1 .round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .img-item .img-img1 img {
  padding-top: 18px;
  width: 55px;
}

section .img-item .img-img2 {
  position: relative;
  background: #ffbc09;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section .img-item .img-img2 .round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .img-item .img-img2 img {
  padding-top: 23px;
  width: 55px;
}

section .img-item .img-img3 {
  position: relative;
  background: lightgreen;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

section .img-item .img-img3 .round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section .img-item .img-img3 img {
  padding-top: 25px;
  width: 55px;
}

section .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section .bg-gray {
  background-color: #f7f7f7;
}

section .text {
  text-align: center;
}

section p {
  color: #888888;
  font-family: "Rubik", sans-serif;
}

section h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.catagories {
  padding: 100px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
}

.catagories .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.catagories .container #owl-demo .item {
  padding: 30px 0px;
  margin: 10px;
  border-radius: 3px;
  text-align: center;
}

.catagories .container #owl-demo .item .text-catagories {
  text-align: center !important;
}

.catagories .container #owl-demo .item .text-catagories h2 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.catagories .container #owl-demo .item .text-catagories p {
  color: #888888;
  font-family: "Rubik", sans-serif;
}

.footer {
  color: white;
  list-style-type: disc;
}

.footer li {
  list-style-type: none;
}

.footer a {
  color: white;
  list-style-type: none !important;
}

.footer .contact-info li i {
  font-size: 18px;
  vertical-align: middle;
  max-width: 30px;
  width: 100%;
  text-align: center;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */