$primary-color:#38DDF7;
$color-success:#b3d369;
$color-warning:#ffbc09;
$color-pink:#f94fa4;
$color-orange: #f89035;
$color-danger:#f6475f;
$price-color:#d1ecf1;
$primary-black-color:#292b2c;
$secondary-black-color:#888888;
$text-color:#fff;

// Fonts
$primary-font:'Rubik', sans-serif;
$secondary-font:'Roboto', sans-serif;

// Font Sizes
$title-font-size:32px;
$sub-title-font-size:16px;