.alertarea {
  position: relative;
  z-index: 999;
  .alert {
  }
  .colordanger {
    background-color: $color-danger;
  }
  .alert-content {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $text-color;
      font-weight: bold;
      font-size: $sub-title-font-size;
    }
    a {
      color: $text-color;
      font-weight: bold;
      font-size: $sub-title-font-size;
    }
  

  i {
    color: #faa3af;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;

    &:hover{
        color: $text-color;
    }
}
  }
}
