.alertarea {
  position: relative;
  z-index: 999;

  .colordanger {
    background-color: $color-danger;
    margin-bottom: 0 !important;
  }
  .alert-content {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $text-color;
      font-weight: bold;
      font-size: $sub-title-font-size;
    }
    a {
      color: $text-color;
      font-weight: bold;
      font-size: $sub-title-font-size;
    }

    i {
      color: #faa3af;
      font-size: 20px;
      padding-left: 5px;
      padding-top: 5px;

      &:hover {
        color: $text-color;
      }
    }
  }
}
//Social Media//
.header-wrapper {
  box-sizing: border-box;
  display: block;
  transition: all 0.4s;
  .top-header {
    padding: 10px 0;
    background-color: #343a40;

    .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    .icon {
      float: right;
      .social-icon {
        align-items: center;
        text-align: right;
        padding-inline-start: 40px;
        
        li {
          display: inline-block;
          padding: 2px 3px;
          a {
            vertical-align: middle;
            font-size: 16px;
            height: 30px;
            width: 32px;
            line-height: 30px;
            color: #fff;
          }
        }
      }
    }
  } 
  }
  }
  
//Navbar//
.dropdown-toggle::after {
  content: initial;
}

header {
  z-index: 97;
  width: 100%;
  &.is-sticky {
    position: fixed;
    .navbar {
      margin-top: 15px;
    }
  }
}
.navbar {
  margin: 20px 0px;
  @include transition(all 0.2s);
  .navbar-brand {
    padding-top: 0px;
  }

  .navbar-nav {
    .nav-item {
      margin-left: 35px;
      font-size: 14px;
      .nav-link {
        color:$primary-black-color;
        position: relative;
        font-size:14px;
        font-family: $secondary-font;
        font-weight: bold;
        padding: 25px 10px;
        &::before {
          position: absolute;        
          @include transition(all 0.6s);
        }

        &:hover::before {
          right: initial;
          left: 0px;
          width: 100%;
        }
      }
    }

    .dropdown-menu {
      border-radius: 0px;
      left: -50%;
      top: 95%;
      padding: 10px 15px;
    }
  }

  .navbar-text {
    color: white;
    display: flex;
    align-items: center;
    a {
      color: white;
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    .navbar-toggler{
      color: white;
      cursor: pointer;
    }
  }
}
 

//Section Features//
section {
  background-color: rgb(247, 247, 247);
  .feature-body{
    
    box-shadow: 5px 5px 5px 5px lightgray;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.5s;
    
    &:hover{
      margin-top: -10px !important;
     
    }
  }

  .img-item{
   
    display: flex;
    justify-content: center;
    .img-img1{
      position: relative;
      .round{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 3px solid white;
        position: absolute;
        top: 5px;
        left: 5px;
        transition: all 0.5s;
      
      }
      background: $color-danger;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    img{
      padding-top: 18px;
      width: 55px;
    }
    }
    .img-img2{
      position: relative;
      .round{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 3px solid white;
        position: absolute;
        top: 5px;
        left: 5px;
        transition: all 0.5s;
      
      }
      background: $color-warning;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    img{
      padding-top: 23px;
      width: 55px;
    }
    }
    .img-img3{
      position: relative;
      .round{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 3px solid white;
        position: absolute;
        top: 5px;
        left: 5px;
        transition: all 0.5s;
      
      }
      background: lightgreen;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    img{
      padding-top: 25px;
      width: 55px;
    }
    }
  }

  padding: 100px 0px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: block;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .bg-gray {
    background-color: #f7f7f7;
  }
  .text {
    text-align: center;

    p {
     
    }
  }
  p{
    color: $secondary-black-color;
    font-family: $primary-font;
  }
  h2 {
    color: $primary-black-color;
    font-family: $primary-font;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
  
}

//Section Catagories//
.catagories {
  padding: 100px 0px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    #owl-demo .item{
      padding: 30px 0px;
      margin: 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      .carousel-item {
        
    }

     .text-catagories{
    text-align: center !important;
    h2 {
      color: $primary-black-color;
      font-family: $primary-font;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 1rem;
    }
    p {
      color: $secondary-black-color;
      font-family: $primary-font;
    }
  }

 
  }
  
}
}
//Footer//
.footer {
  li{
    list-style-type: none;
  }
  color: white;
  list-style-type:disc;
  a {
    color:white;
    list-style-type: none !important;
  }
  .contact-info li i {
    font-size: 18px;
    vertical-align: middle;
    max-width: 30px;
    width: 100%;
    text-align: center;
    margin-right: 5px;
  }


}
