.alertarea {
  position: relative;
  z-index: 999;

  .colordanger {
    background-color: $color-danger;
    margin-bottom: 0 !important;
  }
  .alert-content {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $text-color;
      font-weight: bold;
      font-size: $sub-title-font-size;
    }
    a {
      color: $text-color;
      font-weight: bold;
      font-size: $sub-title-font-size;
    }

    i {
      color: #faa3af;
      font-size: 20px;
      padding-left: 5px;
      padding-top: 5px;

      &:hover {
        color: $text-color;
      }
    }
  }
}
//Social Media//
.header-wrapper {
  box-sizing: border-box;
  display: block;
  transition: all 0.4s;
  .top-header {
    padding: 10px 0;
    background-color: #343a40;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .icon {
    float: right;
    .social-icon {
      align-items: center;
      text-align: right;
      padding-inline-start: 40px;
      li {
        display: inline-block;
        padding: 2px 3px;
        a {
          vertical-align: middle;
          font-size: 16px;
          height: 30px;
          width: 32px;
          line-height: 30px;
          color: #fff;
        }
      }
    }
  }

  ul a {
    text-decoration: none;
    font-size: 18px;
  }
  .contact-info {
    li {
      font-size: 14px;
      vertical-align: middle;
      padding: 3px;
      display: inline-block;
      list-style: none;
      text-decoration: none;
    }
  }
  .contact-info {
    a {
      color: white;
      i {
        margin-right: 8px;
        vertical-align: middle;
        font-size: 18px;
        color: white;
      }
    }
  }

  .icon {
    justify-content: flex-end;
    display: inline-block;
  }
}
//Section Features//
section {
  padding: 100px 0px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: block;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .bg-gray {
    background-color: #f7f7f7;
  }
  .text {
    text-align: center;
    h2 {
      color: $primary-black-color;
      font-family: $primary-font;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 1rem;
      text-transform: capitalize;
    }
    p {
      color: $secondary-black-color;
      font-family: $primary-font;
    }
  }
  
}
//Navbar//
.dropdown-toggle::after {
  content: initial;
}

header {
  z-index: 97;
  width: 100%;
  &.is-sticky {
    position: fixed;
    .navbar {
      margin-top: 15px;
    }
  }
}
.navbar {
  margin: 20px 0px;
  @include transition(all 0.2s);
  .navbar-brand {
    padding-top: 0px;
  }

  .navbar-nav {
    .nav-item {
      margin-left: 35px;
      font-size: 14px;
      .nav-link {
        color:$primary-black-color;
        position: relative;
        font-size:14px;
        font-family: $secondary-font;
        font-weight: bold;
        padding: 25px 10px;
        &::before {
          position: absolute;        
          @include transition(all 0.6s);
        }

        &:hover::before {
          right: initial;
          left: 0px;
          width: 100%;
        }
      }
    }

    .dropdown-menu {
      border-radius: 0px;
      left: -50%;
      top: 95%;
      padding: 10px 15px;
    }
  }

  .navbar-text {
    color: white;
    display: flex;
    align-items: center;
    a {
      color: white;
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    .navbar-toggler{
      color: white;
      cursor: pointer;
    }
  }
}
//Section Catagories//
.catagories {
  padding: 100px 0px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: block;
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    #owl-demo .item{
      display: inline-block;
      padding: 30px 0px;
      margin: 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      .carousel-item {
        
    }

     .text-catagories{
    text-align: center !important;
    h2 {
      color: $primary-black-color;
      font-family: $primary-font;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 1rem;
    }
    p {
      color: $secondary-black-color;
      font-family: $primary-font;
    }
  }

 
  }
  
}
